@using Task_15.Models.Dto.ContactInfo_Dto

@model CreateContactInfo_Dto
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="card-title">Create Contact Header</div>
            <hr>
            <form asp-controller="ContactInfo" asp-action="CreateContact" asp-area="Admin" method="post">
                <div class="form-group">
                    <label asp-for="@Model.Title"></label>
                    <input asp-for="@Model.Title" class="form-control" id="input-1" placeholder="Enter Your Title">
                    <span asp-validation-for="@Model.Title"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.TitleText"></label>
                    <input asp-for="@Model.TitleText" class="form-control" id="input-2" placeholder="Enter Your File">
                    <span asp-validation-for="@Model.TitleText"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Description">Description</label>
                    <textarea asp-for="@Model.Description" class="form-control" style=" resize:none !important;  height:30vh!important"></textarea>
                    <span asp-validation-for="@Model.Description"></span>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-light px-5"><i class="icon-lock"></i> Create</button>
                </div>
            </form>
        </div>
    </div>
</div>